<!-- Navbar -->
<nav class="navbar">
  <!-- <div id="navbarNav"> -->
      <div class="navbar-right">
          <a href="/logout" class="logout-button">Logout</a>
      </div>
  <!-- </div> -->
</nav>
