<!-- Sidebar Structure -->
<div class="sidebar">
  <div class="sidebar-brand">
    <span style="color: #4caf50; font-weight: bold">Green</span>
    <span style="color: #000000; font-weight: bold">Assist</span>
  </div>
  <div class="sidebar-MenuItems-Nav">
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-gauge"></i>
      <a href="/dashboard">Dashboard</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-wrench"></i>
      <a href="/services">Services</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-box fa-lg"></i>
      <a href="/products">Products</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-regular fa-credit-card "></i>
      <a href="/payments">Payments</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-user-tie fa-lg"></i>
      <a href="/admins">Admins</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-user fa-lg"></i>
      <a href="/users">Users</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-users-gear fa-sm"></i>
      <a href="/teams">Team</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-code-pull-request"></i>
      <a href="/requests">Requests</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-comment"></i>
      <a href="/feedbacks">FeedBacks</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-file fa-lg"></i>
      <a href="/reviews">Reviews</a>
    </div>
    <div class="sideBar-menuItems">
      <i class="fa-solid fa-envelope"></i>
      <a href="/push-notifications">Push-notifications</a>
    </div>
  </div>
</div>