<!-- Sidebar -->
<div
  class="sidebar bg-light"
  style="
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
  "
>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/payments">Payments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admins">Admins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teams">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/requests">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="feedbacks">FeedBacks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reviews">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/push-notifications">Push-notifications</a>
    </li>
  </ul>
</div>
