<div class="sidebar">
  <div class="sidebar__inner">
  <div class="sidebar__logo">
    <a href="/dashboard">
     <div class="brand-text">
      <span class="text-success fw-bold">Green</span>
      <span class="text-dark fw-bold">Assist</span>
     </div>
    </a>
  </div>
  <div class="sidebar__menu-wrapper">
    <ul class="sidebar__menu">

      <li class="sidebar-menu-item active">
        <a href="/dashboard" class="nav-link ">
          <i class="menu-icon las la-home"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

    </ul>
  </div>

  </div>
</div>